body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
    background-color: #02182f;
}

header {
    background-color: #04244b;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex: 1;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 8px;
}

nav ul li a:hover {
    background-color: #b81212;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px;
    align-items: center;
}

.menu-toggle i {
    font-size: 24px;
}

.menu-toggle span {
    margin-top: 5px;
}

.welcome {
    flex: 1;
    text-align: center;
}

.welcome h1 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

main {
    margin-top: 60px;
    padding: 20px;
}

.home{
    background-image: url(./home.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    font-size: x-large;
    text-align: justify;
}


.about {
    justify-content: space-around;
    align-items: center;
    padding: 70px 20px;
    background-color: #f9f9f9;
    background-image: url(./about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: xx-large;
    color: #c2e1c2;
    margin: 0;
    display: block;
}

.about .a1 {
    width: 50%;
    float: left;
    display: block;
}

.about .a1 img{
    margin-left: 100px;
    width: 60%;
    border-radius: 40%;
    overflow: hidden;
}

.about .a2 {
    width: 50%;
    overflow: hidden;
}

.about .a2 p {
    width: 80%;
    margin: 0 auto;
    font-size: x-large;
    float: right;
}

section {
    padding: 50px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
}

.education {
    background-image: url(./education.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    font-size: x-large;
}

.skills {
    padding: 20px;
    background-color: #f4f4f4;
    background-image: url(./skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skills h1 {
    margin-bottom: 20px;
    font-size: xx-large;
}

.skill {
    margin-bottom: 10px;
}

.skill-name {
    font-size: x-large;
    font-weight: 200;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
}

.project {
    font-size: x-large;
    background-image: url(./project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project h1 {
    color: #ddd;
    padding-top: 0;
    padding-bottom: 10px;
}

.link a {
    color: #c4dec4;
}

.resume{
    background-image: url(./cv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.resume h1{
    font-size: xx-large;
    padding-top: 0;
    color: #0a0773fc;
}

.resume p a{
    text-decoration: none;
    color: #ddd;
    font-size: xx-large;
    display: inline-block;
}

.resume .cv1{
    font-size: x-large;
    color: #f9f107;
    text-align: justify;
}

.download-cv-btn {
    display: inline-block;
    background-color: #b81212;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: xx-large;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.download-cv-btn:hover {
    background-color: #04244b;
    color: #fff;
}


.contact {
    padding: 40px;
    background-image: url(./contact.jpg);
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact h1 {
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: x-large;

    color: #c2e1c2;
}

.contact i {
    margin-right: 10px;
    color: #b4cfb4;
    font-size: 24px;
}

.contact a {
    color: #c4dec4;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.contact a:hover {
    text-decoration: underline;
}

.footer {
    font-size: large;
    padding: 7px 7px;
    background-color: #02182f;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 60%;
        background-color: #04244bc7;
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav ul.showing {
        display: flex;
        
    }

    nav ul li {
        margin: 1;
        text-align: center;
    }

    nav ul li a {
        font-size: 20px;
        padding: 10px 0;
    }

    .welcome h1 {
        font-size: 28px;
    }

    main {
        margin-top: 80px;
        padding: 10px;
    }

    .about {
        flex-direction: column;
        padding: 20px;
    }

    .about .a1, .about .a2 {
        margin-bottom: 20px;
    }

    .about .a1 img {
        margin-top: 120px;
        width: 80%;
        margin-left: 0;
    }

    .about .a2 p {
        width: 100%;
    }

    .education {
        height: auto;
        padding: 20px;
    }

    .skills {
        padding: 20px;
    }

    .contact {
        padding: 20px;
    }

    .contact li {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact i {
        margin-bottom: 10px;
    }
}
