body{
    margin: 0;
    background-color: rgba(224, 101, 13, 0.81);
}
header{
    text-align: center;
    text-decoration: solid;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 700;
}
.hireme{
    align-items: center;
}
.hireme .btn{
    text-decoration: none;
    font-size: x-large;
    size: 50px;
}